@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header, .background-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.header--blur, .quality--blur, .background-img {
  -webkit-filter: blur(5px);
  filter: blur(5px);
}

.quality-AQI__num, .navButton, .goTop {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: 微軟正黑體;
  color: white;
}

.fz-52 {
  font-size: 3.25rem;
}

.fz-36 {
  font-size: 2.25rem;
}

.fz-24 {
  font-size: 1.5rem;
}

.fz-14 {
  font-size: 0.875rem;
}

.fz-12 {
  font-size: 0.75rem;
}

.header {
  padding: 5vw;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
}

.header-title {
  font-weight: bold;
}

.header-title__ch, .header-title__en {
  margin: 1rem 0;
}

sub {
  vertical-align: sub;
  font-size: smaller;
}

main {
  padding: 3vw 0;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 95%;
  width: 100%;
  margin: 0 auto;
}

.radio {
  display: none;
}

@media (max-width: 767.98px) {
  .radio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 5vw -5px;
  }
}

.radio-label {
  width: calc(20% - 10px);
  text-align: center;
  display: block;
  border: 1px solid #ffb733;
  margin: 5px;
  cursor: pointer;
}

@media (max-width: 419.98px) {
  .radio-label {
    width: calc(33.333% - 10px);
  }
}

.radio-input {
  display: none;
}

.radio-text {
  padding: 2.5vw 0;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.radio-input:checked + .radio-text, .radio-text:hover {
  background-color: #ffb733;
  color: white;
}

.taiwan {
  -ms-flex-preferred-size: 40%;
  flex-basis: 40%;
  font-size: 0;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

@media (max-width: 1199.98px) {
  .taiwan {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
  }
}

@media (max-width: 767.98px) {
  .taiwan {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 3.75vw;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 999;
    overflow: auto;
  }
}

.taiwan-container {
  width: 100%;
  height: 100%;
}

.taiwan-content {
  outline: 1px solid white;
  background-color: rgba(114, 184, 255, 0.25);
  position: -webkit-sticky;
  position: sticky;
  top: 50px;
}

@media (max-width: 767.98px) {
  .taiwan-content {
    position: relative;
    top: 0;
  }
}

.taiwan-county {
  fill: rgba(255, 255, 255, 0.25);
  stroke: white;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.taiwan-county:hover {
  fill: rgba(255, 165, 0, 0.5);
}

.taiwan-county.taiwan-county--active {
  fill: orange;
}

@media (max-width: 767.98px) {
  .taiwan--active {
    display: block;
  }
}

.quality {
  -ms-flex-preferred-size: 60%;
  flex-basis: 60%;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

@media (max-width: 1199.98px) {
  .quality {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
  }
}

.quality-container {
  width: 100%;
}

.quality-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  margin: -0.5vw 0;
}

.quality-group__item {
  background-color: rgba(0, 0, 0, 0.8);
  margin: 0.5vw;
  -ms-flex-preferred-size: calc(50% - 2vw);
  flex-basis: calc(50% - 2vw);
  padding: 1.75vw;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
}

@media (max-width: 1199.98px) {
  .quality-group__item {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
}

@media (max-width: 767.98px) {
  .quality-group__item {
    padding: 3vw;
    margin: 1vw;
  }
}

@media (max-width: 419.98px) {
  .quality-group__item {
    padding: 6vw;
  }
}

.quality-AQI__title {
  margin-top: 1.25rem;
  font-weight: bold;
}

.quality-AQI__num {
  position: relative;
  display: inline-block;
  border: 2px solid white;
  padding: 1rem;
  margin: 1.25rem 0;
  font-size: bold;
  background-color: rgba(239, 239, 239, 0.1);
}

.quality-AQI__num--good {
  color: #00E800;
}

.quality-AQI__num--moderate {
  color: #FFFF00;
}

.quality-AQI__num--unhealthyForSensitiveGroups {
  color: #FF7E00;
}

.quality-AQI__num--unhealthy {
  color: #FF0000;
}

.quality-AQI__num--veryUnhealthy {
  color: #7C0ECC;
}

.quality-AQI__num--null {
  color: #afafaf;
}

.quality-AQI__num:after {
  position: absolute;
  content: "";
  border-top: 8px solid white;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  border-bottom: 8px solid transparent;
  bottom: -17px;
  left: 50%;
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  transform: translate(-50%);
}

.quality-content {
  margin: 30px 0;
}

.quality-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.quality-list__item + .quality-list__item {
  margin-top: 20px;
}

.quality-information, .quality-value {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.quality-information {
  -ms-flex-preferred-size: 85%;
  flex-basis: 85%;
}

.quality-information:hover .quality-bar__percentage {
  background-color: orange;
}

.quality-bar {
  width: 100%;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.25);
  margin-top: 10px;
}

.quality-bar__percentage {
  width: 0;
  height: 100%;
  background-color: rgba(255, 165, 0, 0.5);
  -webkit-transition: 0.5s 0.5s, background 0.5s;
  -o-transition: 0.5s 0.5s, background 0.5s;
  transition: 0.5s 0.5s, background 0.5s;
}

.quality-value {
  -ms-flex-preferred-size: calc(15% - 10px);
  flex-basis: calc(15% - 10px);
  margin-left: 10px;
  text-align: right;
}

.navButton, .goTop {
  display: none;
}

@media (max-width: 767.98px) {
  .navButton, .goTop {
    position: fixed;
    bottom: 5vw;
    right: 5vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid white;
    color: white;
    background-color: black;
    z-index: 999;
    cursor: pointer;
    opacity: 0.75;
  }
  .navButton--active, .goTop--active {
    color: #ff0000;
    background-color: rgba(114, 184, 255, 0.25);
    opacity: 1;
  }
}

@media (max-width: 767.98px) {
  .goTop {
    z-index: auto;
    bottom: calc(5vw + 45px);
  }
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.9;
  z-index: -9;
}

.background-img {
  width: 100%;
  height: 100%;
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
}
