<!DOCTYPE html>
<html lang="zh-tw">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>臺灣空氣品質指標｜Air Quality Index</title>
    <meta property="og:title" content="臺灣空氣品質指標｜Air Quality Index"/>
    <meta property="og:site_name" content="臺灣空氣品質指標｜Air Quality Index"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"/>
    <link rel="stylesheet" href="css/style.css"/>
    <script async="async" src="https://www.googletagmanager.com/gtag/js?id=UA-130590667-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-130590667-1');
      
    </script>
  </head>
  <body>
    <div id="app">
      <header class="header" :class="(navType &amp;&amp; !windowType)? 'header--blur' : ''" style="background-image: url(image/banner__01.jpg)">
        <h1 class="header-title"> 
          <div class="header-title__ch fz-36">臺灣空氣品質指標</div>
          <div class="header-title__en fz-24">Air Quality Index</div>
        </h1>
      </header>
      <main>
        <div class="container">
          <nav class="taiwan" :class="(navType &amp;&amp; !windowType)? 'taiwan--active' : ''">
            <div class="taiwan-container">
              <div class="taiwan-content" @click="countyClickHandler($event)"></div>
              <div class="taiwan-selected">
                <div class="taiwan-radio">
                  <div class="radio">
                    <label class="radio-label" v-for="county in county">
                      <input class="radio-input" type="radio" name="county" :checked="county.COUNTYNAME === selectCounty"/>
                      <div class="radio-text fz-14" @click="radioClickHandler(county.COUNTYNAME)">{{county.COUNTYNAME}}</div>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </nav>
          <section class="quality" :class="(navType &amp;&amp; !windowType)? 'quality--blur' : ''">
            <div class="quality-container">
              <ul class="quality-group">
                <li class="quality-group__item" v-for="quality in filterData"> 
                  <quality v-bind:air-data="quality"></quality>
                </li>
              </ul>
            </div>
          </section>
        </div>
      </main>
      <footer></footer>
      <div class="navButton" :class="(navType &amp;&amp; !windowType)? 'navButton--active' : ''" @click="navOpenHandler"><i class="fas fa-map-marker-alt"></i></div>
      <div class="background">
        <div class="background-img" style="background-image: url(image/banner__01.jpg)"></div>
      </div>
    </div>
    <template id="quality">
      <div class="quality-col">
        <header class="quality-header">
          <h2 class="fz-24">{{airData.County}} {{airData.SiteName}}</h2>
          <div class="quality-AQI">
            <div class="quality-AQI__title">AQI</div>
            <div class="quality-AQI__num fz-52" :class="'quality-AQI__num' + airData.AQIStatus.class">{{airData.AQI || 'null'}}</div>
            <div class="quality-AQI__status">空氣品質指標：{{airData.AQIStatus.text}}</div>
          </div>
        </header>
        <div class="quality-content">
          <ul class="quality-list">
            <li class="quality-list__item" v-for="pollution in airData.Index">
              <div class="quality-information">
                <div class="quality-information__title fz-14"> <span>{{pollution.name}} </span><span v-html="pollution.chemical"></span></div>
                <div class="quality-bar"> 
                  <div class="quality-bar__percentage" v-bind:style="'width: ' + pollution.value/pollution.max*100 + '%;' "></div>
                </div>
              </div>
              <div class="quality-value">
                <div class="quality-value__num">{{pollution.value}}</div>
                <div class="quality-value__unit fz-12">{{pollution.unit}}</div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </template>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.js"></script>
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="https://d3js.org/topojson.v1.js"></script>
    <script src="js/index.js"></script>
  </body>
</html>